@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="vh-100 vw-100 bg-light d-flex">
    <div style="max-width: 1000px; padding: 50px; border: 5px solid #32c332;" class="d-flex m-auto bg-white rounded-3">
        <div class="m-auto">
            <!-- Pills navs -->
            <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form action="~/Login/ComfirmForgotPassword" method="post">
                        <h3 class="text-center mb-4">Tài khoản @TempData["username"]</h3>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td><label class="form-label" for="comfirmCode">Nhập mã xác nhận</label></td>
                                    <td><input type="text" id="comfirmCode" name="codeComfirm" required class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td><label class="form-label" for="newPassword">Nhập mật khẩu mới</label></td>
                                    <td><input type="text" id="newPassword" name="newPassword" required class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td><label class="form-label" for="comfirmPassword">Xác nhận mật khẩu</label></td>
                                    <td><input type="text" id="comfirmPassword" name="comfirmPassword" required class="form-control" /></td>
                                </tr>
                                <tr>
                                    @{
                                        string? mess = (string?)ViewData["ErrorNotFound"];
                                        if (mess != null)
                                        {
                                            <span class="field-validation-error text-danger" role="alert">@ViewBag.ErrorNotFound</span>
                                        }

                                    }
                                </tr>
                            </tbody>
                        </table>

                        <!-- Submit button -->
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-block mb-4 w-50">Lưu</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Pills content -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
