@{
    var area = ViewContext.RouteData.Values["area"]?.ToString();
}
 <!-- Sidebar -->
<ul style="background-color:#2fb154; margin-top:73px;" class="nav-fixed z-index-99 navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li class="d-flex align-items-center justify-content-between p-3 nav-item">
        <b class="text-white">Tài khoản giáo viên</b>
        <button id="sidebarToggleTop" class="btn d-md-none rounded-circle">
            <i class="fa fa-bars"></i>
        </button>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a asp-area="@area" asp-controller=@string.Format("Home"+@area) asp-action="Index" class="nav-link">
            <i class="icon-sidebar fas fa-home"></i>
            <span>Trang chủ</span>
        </a>
    </li>

    <!-- Nav Item - Thông báo -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Notification"
           aria-expanded="true" aria-controls="Notification">
            <i class="icon-sidebar fas fa-bell"></i>
            <span>Thông báo</span>
        </a>
        <div id="Notification" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html">Thông báo từ nhà trường</a>
                <a class="collapse-item" href="cards.html">Thông báo cá nhân</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tiện ích -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Utilities"
           aria-expanded="true" aria-controls="Utilities">
            <i class="icon-sidebar fas fa-bookmark"></i>
            <span>Tiện ích</span>
        </a>
        <div id="Utilities" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html">Xin đi muộn</a>
                <a class="collapse-item" href="cards.html">Xin nghỉ</a>
                <a class="collapse-item" href="cards.html">Hướng dẫn sử dụng</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Thông tin giáo viên -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#About"
           aria-expanded="true" aria-controls="About">
            <i class="icon-sidebar fas fa-chalkboard-teacher"></i>
            <span>Thông tin giáo viên</span>
        </a>
        <div id="About" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-action="Index" asp-controller="AboutTeacher">Thông tin</a>
                <a class="collapse-item" asp-area="" asp-action="ChangePass" asp-controller="BaseArea">Đổi mật khẩu</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Thời khóa biểu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Schedule"
           aria-expanded="true" aria-controls="Schedule">

            <i class="icon-sidebar fas fa-calendar-alt"></i>
            <span>Lịch</span>
        </a>
        <div id="Schedule" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html">Thời khóa biểu</a>
                <a class="collapse-item" href="cards.html">Lịch thi</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Chương trình đào tạo -->
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="icon-sidebar fas fa-book"></i>
            <span>Chương trình giảng dạy</span>
        </a>
    </li>

    <!-- Nav Item - Xem kết quả công tác -->
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="icon-sidebar fas fa-trophy"></i>
            <span>Kết quả công tác</span>
        </a>
    </li>

    <!-- Nav Item - Khảo sát -->
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="icon-sidebar far fa-file-alt"></i>
            <span>Khảo sát</span>
        </a>
    </li>

    <hr class="sidebar-divider" />
    <div class="sidebar-heading">Quản lý học sinh</div>
    <!-- Nav Item - Quản lý lớp học -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Class"
           aria-expanded="true" aria-controls="Class">

            <i class="icon-sidebar fas fa-chalkboard-teacher"></i>
            <span>Quản lý lớp học</span>
        </a>
        <div id="Class" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html">Xếp chỗ</a>
                <a class="collapse-item" href="cards.html">Điểm danh</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Quản lý điểm -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Score"
           aria-expanded="true" aria-controls="Score">

            <i class="icon-sidebar fas fa-star"></i>
            <span>Quản lý điểm</span>
        </a>
        <div id="Score" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html">Điểm thành phần</a>
                <a class="collapse-item" href="cards.html">Điểm thi</a>
            </div>
        </div>
    </li>

        <!-- Nav Item - Quản lý học sinh -->
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="icon-sidebar fas fa-pen"></i>
            <span>Quản lý học sinh</span>
        </a>
    </li>
</ul>
<!-- End of Sidebar -->